{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
<h1>Items In Basket</h1>
<div class="container">
    <div class="products">
        <div class="product-box">
            <h2>{{ products['name'] }}</h2>
            <p>{{ products['spec1'] }}</p>
            <p>{{ products['spec1'] }}</p>
        </div>
    </div>
</div>
{% endblock %} 

{% block navbuttons %}
<li class="nav-item">
    <a class="nav-link" href="/">Home</a>
</li>
{% endblock %}
