{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
<div class="container">
    <div class="products">
        <div class="product-box">
            <h2>Delivery option 1</h2>
            <a href="basket.html">
                <button type="button">Pick</button>
            </a>
        </div>
        <div class="product-box">
            <h2>Delivery option 2</h2>
            <a href="basket.html">
                <button type="button">Pick</button>
            </a>
        </div>
        <div class="product-box">
            <h2>Delivery option 3</h2>
            <a href="basket.html">
                <button type="button">Pick</button>
            </a>
        </div>
    </div>
</div>
{% endblock %} 

{% block navbuttons %}
<li class="nav-item">
    <a class="nav-link" href="/">Home</a>
</li>
{% endblock %}