{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
<h2>Payment Info</h2>
<div class="product-info">
    <form>
      <label for="productName">Name:</label>
        <br>
        <br>
      <label for="productEmail">Card number:</label>
      <br>
      <br>
    <label for="productEmail">Adress:</label>
    <br>
      <br>
    <a href="basket.html">
        <button type="button">Back</button>
    </a>
    <a href="gratz.html">
        <button type="button">Pay!</button>
    </a>
{% endblock %} 

{% block navbuttons %}
<li class="nav-item">
    <a class="nav-link" href="/">Home</a>
</li>
{% endblock %}