{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
<h2>Product Info</h2>
<div class="product-info">
    <form>
      <label for="productName">Name:</label>
        <br>
        <br>
      <label for="productEmail">Spec1:</label>
      <br>
      <br>
    <label for="productEmail">Spec1:</label>
    <br>
      <br>
    <a href="productlist.html">
        <button type="button">Back</button>
    </a>
    <a href="spec.html">
        <button type="button">Change Specification</button>
    </a>
    <a href="basket.html">
        <button type="button">Add to cart</button>
    </a>
    </form>
  </div>
{% endblock %} 

{% block navbuttons %}
<li class="nav-item">
    <a class="nav-link" href="/">Home</a>
</li>
{% endblock %}