{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
<div class="product-info">
    <form>
      <label for="productEmail">Spec1:</label>
      <br>
      <br>
    <label for="productEmail">Spec1:</label>
    <br>
      <br>
    <a href="product.html">
        <button type="button">Back</button>
    </a>
    <a href="product.html">
        <button type="button">Save Changes</button>
    </a>
    </form>
  </div>
{% endblock %} 

{% block navbuttons %}
<li class="nav-item">
    <a class="nav-link" href="/">Home</a>
</li>
{% endblock %}