{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
{% endblock %} 

{% block navbuttons %}
<li class="nav-item">
    <a class="nav-link" href="{{url_for('productlist', role = 'default' ) }}">Product List</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{url_for('generalinfo', role = 'default' ) }}">General info</a>
</li>>
<li class="nav-item">
    <a class="nav-link" href="faq.html">FAQ</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{url_for('review', role = 'default' ) }}">Review</a>
</li>
{% if loggedin != True%}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('login')}}" method="get">Reklamera</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('login')}}" method="post">Login</a>
</li>
{% endif %}
{% endblock %}
